*.exe
*.dll
*.pdb
bin/
obj/
*.user
*.vs/

## Ignorer les fichiers temporaires de Visual Studio, les résultats de build et
## fichiers générés par les modules complémentaires Visual Studio populaires.
##
## Obtenez les dernières informations sur https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# Fichiers spécifiques à l'utilisateur
*.rsuser
*.suo
*.utilisateur
*.userosscache
*.sln.docstates

# Fichiers spécifiques à l'utilisateur (MonoDevelop/Xamarin Studio)
*.préférences utilisateur

# Fichiers mono générés automatiquement
mono_crash.*

# Créer des résultats
[Jj]ebug/
[Jj]ebugPublic/
[Rr]libérer/
[Rr]libère/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bâtiment/
[Bb]dans/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Répertoire cache/options de Visual Studio 2015/2017
.contre/
# Décommentez si vous avez des tâches qui créent les fichiers statiques du projet dans wwwroot
#wwwroot/

# Fichiers générés automatiquement par Visual Studio 2017
Généré\ Fichiers/

# Résultats du test MSTest
[Tt]est[Rr]résultat*/
[Bb]uild[Ll]og.*

# NUnité
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Construire les résultats d'un projet ATL
[Jj]ebugPS/
[Rr]releasePS/
dlldata.c

# Résultats de référence
BenchmarkDotNet.Artifacts/

# .NET Noyau
projet.lock.json
projet.fragment.lock.json
artefacts/

# Échafaudage ASP.NET
ÉchafaudageReadMe.txt

# StyleCop
StyleCopReport.xml

# Fichiers construits par Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.méta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
# mais pas Directory.Build.rsp, car il configure les valeurs par défaut de construction au niveau du répertoire
!Répertoire.Build.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.enregistrer
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Fichiers de test Chutzpah
_Hutzpah*

# Fichiers cache Visual C++
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.fichier cache
*.VC.db
*.VC.VC.opendb

# Profileur Visual Studio
*.psess
*.vsp
*.vspx
*.sève

# Fichiers de trace Visual Studio
*.e2e

# Espace de travail local TFS 2012
$tf/

# Boîte à outils d'automatisation du guidage
*.gpState

# ReSharper est un complément de codage .NET
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity est un complément de build
_ÉquipeCité*

# DotCover est un outil de couverture de code
*.dotCover

# AxoCover est un outil de couverture de code
.axoCover/*
!.axoCover/settings.json

# Coverlet est un outil de couverture de code gratuit et multiplateforme
couverture*.json
couverture*.xml
couverture*.info

# Résultats de couverture de code Visual Studio
*.couverture
*.couverturexml

#NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# PuissantMoose
*.mm.*
AutoTest.Net/

# Établi Web (sass)
.sass-cache/

# Dossier de sortie Installshield
[Ee]xpress/

# DocProject est un complément générateur de documentation
DocProject/buildhelp/
DocProject/Aide/*.HxT
DocProject/Aide/*.HxC
DocProject/Aide/*.hhc
DocProject/Aide/*.hhk
DocProject/Aide/*.hhp
DocProjet/Aide/Html2
DocProject/Aide/html

# Répertoire en un clic
publier/

# Publier la sortie Web
*.[Pp]ublish.xml
*.azurePubxml
# Remarque : commentez la ligne suivante si vous souhaitez vérifier vos paramètres de déploiement Web,
# mais les chaînes de connexion à la base de données (avec des mots de passe potentiels) ne seront pas chiffrées
*.pubxml
*.publierproj

# Paramètres de publication de Microsoft Azure Web App. Commentez la ligne suivante si vous le souhaitez
# archiver vos paramètres de publication Azure Web App, mais les informations sensibles contenues
# dans ces scripts ne seront pas chiffrés
Publier des scripts/

# Forfaits NuGet
*.nupkg
# Packages de symboles NuGet
*.snupkg
# Le dossier packages peut être ignoré en raison de la restauration des packages
**/[Pp]packages/*
# sauf build/, qui est utilisé comme cible MSBuild.
!**/[Pp]ackages/build/
# Décommentez si nécessaire mais généralement il sera régénéré en cas de besoin
#!**/[Pp]ackages/repositories.config
# Les fichiers project.json de NuGet v3 produisent davantage de fichiers ignorables
*.nuget.props
*.nuget.targets

# Sortie de build Microsoft Azure
csx/
*.build.csdef

# Émulateur Microsoft Azure
ecf/
rcf/

# Répertoires et fichiers des packages d'applications du Windows Store
Packages d'applications/
BundleArtefacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Fichiers cache de Visual Studio
# fichiers se terminant par .cache peuvent être ignorés
*.[Cc]ache
# mais gardez une trace des répertoires se terminant par .cache
!?*.[Cc]ache/

# Autres
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orléans.codegen.cs

# L'inclusion de fichiers de noms forts peut présenter un risque de sécurité
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Puisqu'il existe plusieurs workflows, décommentez la ligne suivante pour ignorer bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# projets RIA/Silverlight
Code_généré/

# Sauvegarder et rapporter les fichiers à partir de la conversion d'un ancien fichier de projet
# vers une version plus récente de Visual Studio. Les fichiers de sauvegarde ne sont pas nécessaires,
# parce que nous avons git ;-)
_UpgradeReport_Files/
Sauvegarde*/
Journal de mise à niveau*.XML
Journal de mise à niveau*.htm
ServiceFabricBackup/
*.rptproj.bak

# fichiers SQL Server
*.mdf
*.ldf
*.ndf

# Projets de Business Intelligence
*.rdl.data
*.bim.layout
*.bim_*.paramètres
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Contrefaçons Microsoft
FakesAssemblies/

# Fichier de configuration du plugin GhostDoc
*.GhostDoc.xml

# Outils Node.js pour Visual Studio
.ntvs_analysis.dat
noeud_modules/

# Journal de build de Visual Studio 6
*.plg

# Fichier d'options de l'espace de travail Visual Studio 6
*.opter

# Fichier d'espace de travail généré automatiquement par Visual Studio 6 (contient les fichiers ouverts, etc.)
*.vbw

# Fichier de projet généré automatiquement par Visual Studio 6 (contient les fichiers ouverts, etc.)
*.vbp

# Espace de travail et fichier de projet Visual Studio 6 (fichiers de projet de travail contenant des fichiers à inclure dans le projet)
*.dsw
*.dsp

# Fichiers techniques Visual Studio 6
*.ncb
*.aps

# Sortie de build Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Gestionnaire de dépendances Paket
.paket/paket.exe
fichiers-paket/

# FAUX - F# Marque
.faux/

# Paramètres personnels de CodeRush
.cr/personnel

# Outils Python pour Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Décommentez si vous l'utilisez
# outils/**
# !tools/packages.config

# Onglets Studio
*.tss

# Fichier de configuration JustMock de Telerik
*.jmconfig

# Sortie de build BizTalk
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# Résultats de l'analyse de l'interface utilisateur OpenCover
OuvrirCover/

# Sortie d'exécution locale Azure Stream Analytics
ASALocalRun/

# Journal binaire et structuré MSBuild
*.binlog

# Fichier de configuration du débogueur GPU NVidia Nsight
*.nvuser

# Dossier de travail MFractors (outil de productivité Xamarin)
.mfracteur/

# Historique local pour Visual Studio
.localhistory/

# Fichiers d'historique de Visual Studio (VSHistory)
.vhistory/

# Base de données temporaire du contrôle de santé BeatPulse
contrôlesde santédb

# Dossier de sauvegarde pour l'outil Package Reference Convert dans Visual Studio 2017
MigrationSauvegarde/

# Dossier de travail Ionide (outils multiplateformes F# VS Code)
.ionide/

# Fody - schéma XML généré automatiquement
FodyWeavers.xsd

# Fichiers VS Code pour ceux qui travaillent sur plusieurs outils
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-espace de travail

# Historique local pour Visual Studio Code
.histoire/

# Fichiers Windows Installer à partir des sorties de build
*.taxi
*.msi
*.msix
*.msm
*.msp

# Pilote JetBrains
*.sln.iml
 